*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{

    font-size: 12.5rem;
    font-weight: 500;

    display: flex;
    justify-content: center;

}

#focus{
    display: flex;
    flex-direction: row;
    gap: 19rem;

    padding: 19.6rem 22.6rem 18.8rem 23.3rem;
}

#config{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timer
{
    display: flex;
}

.controls{
    display: flex;
    justify-content: space-between;
}


#mode{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem;
}


button{
    border: none;
    background: transparent;

    cursor: pointer;
}

/* style with active button */

button.active svg path{
    fill: #02799D
}

.active :nth-child(2){
    fill: white
}
